<div class="panel panel-default col-xs-4">
  <div class="panel-body">
    <p>Name: <%=dog.name  %></p>
    <p>Breed <%=dog.breed %> </p>
    <p>Adoptable? <%=dog.adoptable %> </p>
    <img src=<%="#{dog.image}"%>>
  </div>
</div>
