$brand-primary: #53C1B8;
$brand-success: #6A4E46;
$brand-warning: #C61D83;
$brand-default: #00ff00;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-theme";
@import "my_custom_style";
